* {
  margin: 0;
  padding: 0;
}

#main_header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  z-index: 1;
  background-color: #000;
}

#main_header a {
  color: #fff;
  text-align: center;
  margin-top: 50px;
  display: block;
}

#sec_wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 400%;
}

#sec_wrap section {
  height: 25%;
  font-size: 500px;
  text-align: center;
}

#sec_wrap section:nth-child(1) {
  background: red;
}
