@import url("https://use.typekit.net/lfy8zxf.css");
@import url("https://use.typekit.net/lfy8zxf.css");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

/* 
---------- fonts
Bilo ExtraLight
font-family: bilo, sans-serif;
font-weight: 300;
font-style: normal; 

Roc Grotesk Bold
font-family: roc-grotesk, sans-serif;
font-weight: 600;
font-style: normal;

font-family: 'Nanum Gothic Coding', monospace;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

::selection {
  background: #171717;
  color: #fff;
}

::-moz-selection {
  background: #171717;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

/* header */
header {
  background: transparent;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  bottom: 0;
  text-align: center;
  color: #fff;
  z-index: 99999;
}

.header {
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.header-wrapper {
  background-color: #171717;
  width: 17rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

header p {
  font-family: bilo, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
}

.logo {
  margin-top: 2rem;
}

.logo p {
  margin-top: 1rem;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  bottom: auto;
  z-index: 99999;
  cursor: pointer;
}

.kcg {
  width: 10rem;
  height: 10rem;
  background-color: #636a52;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  position: absolute;
  bottom: 0;
  z-index: 999;
}

.kcg span {
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  white-space: nowrap;
}

/* section 1 */
.sec1 {
  margin-left: 17rem;
  height: 100vh;
  background: #171717;
  display: flex;
  align-items: center;
}

.swiper {
  width: 100%;
}

.swiper video,
.swiper img {
  width: 100%;
}

.swiper-navigator {
  position: relative;
  bottom: 0;
}

.swiper-navigator button {
  background: none;
  border: 0;
  position: absolute;
  bottom: 2.8rem;
  z-index: 999;
  outline: none;
  cursor: pointer;
}

.swiper-button-prev {
  left: 45%;
}

.swiper-button-next {
  right: 45%;
}

.swiper-text-content {
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  text-align: right;
  z-index: 999;
  color: #fff;
}

.swiper-text-content h2 {
  font-family: roc-grotesk, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 7.2rem;
}

.swiper-text-content h3 {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 2rem;
  line-height: 1.4;
}

/* section 2 */
#sectionPin {
  height: 100vh;
  display: flex;
}

.sec2 {
  height: 100vh;
  background: #f2f2f2;
  text-align: center;
  padding-top: 6.5rem;
  margin-left: 17rem;
  padding-left: 4rem;
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec2-contents {
  display: flex;
  text-align: left;
  gap: 4rem;
}

.content img {
  margin-bottom: 1.2rem;
}

.content h4 {
  margin-bottom: 0.5rem;
}

:is(.sec2) h2,
span,
h4 {
  font-family: roc-grotesk, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sec2 h2 {
  font-size: 6.2rem;
  color: #171717;
  margin-bottom: 2rem;
}

.sec2 span {
  font-size: 1.6rem;
  color: #636a52;
  display: block;
  margin-bottom: 2rem;
}

.sec2 h4 {
  font-size: 3rem;
  color: #171717;
}

.sec2 h5 {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.4rem;
  line-height: 1.4;
}

/* section 3 */
.sec3 {
  width: calc(100% - 17rem);
  height: 100vh;
  margin-left: 17rem;
  background-color: #f2f2f2;
}

.direction-block-one {
  transform: translateX(-4vw) rotate(5deg);
}

.direction-block-two {
  transform: translateX(8vw) rotate(-3deg);
}

.direction-block-three {
  transform: translateX(3vw) rotate(2deg);
}

.direction-block-four {
  transform: translateX(-9vw) rotate(-8deg);
}

.direction span:not(.phrase04) {
  display: inline-block;
  font-size: 17rem;
  white-space: nowrap;
  background: #fff;
  color: #171717;
  text-transform: uppercase;
}

.parallax {
  position: relative;
}

.parallax h2 {
  font-size: 8rem;
  font-family: roc-grotesk, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  position: absolute;
  top: 54rem;
  left: 5rem;
}

.phrase04 {
  display: inline-block;
  font-size: 12rem;
  white-space: nowrap;
  color: #171717;
  text-transform: uppercase;
}

/* section 4 */
.sec4 {
  width: calc(100% - 17rem);
  height: 100vh;
  margin-left: 17rem;
  color: #171717;
}
